# Core Django
Django==5.1.3
asgiref==3.8.1
pytz==2024.1
sqlparse==0.5.2

# Database
mysqlclient==2.2.7   # only if using MySQL

# Deployment
gunicorn==21.2.0      # WSGI server for Render
whitenoise==6.9.0     # serve static files

# Dev tools (optional, safe for deploy)
django-extensions==3.2.3

# Networking / HTTP
requests==2.31.0

# Image & data processing
Pillow==10.1.0
numpy==2.1.3
pandas==2.2.3
opencv-python-headless==4.11.0.86



